---
// Mirrors the live Rooftop header trigger: a rotating SVG sphere of MENU
// letterforms with a small hamburger SVG centred inside. Both SVGs are taken
// verbatim from the source markup so they match pixel-for-pixel.
interface Props {
  size?: number;
}
const { size = 56 } = Astro.props;
const inner = Math.round(size * 0.36);
---

<div class="relative inline-flex items-center justify-center" style={`width:${size}px;height:${size}px;`}>
  <svg
    class="ring-spin absolute inset-0"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 85 85"
    width={size}
    height={size}
    fill="none"
    aria-hidden="true"
  >
    <path d="M1.64924 54.9387L10.1818 51.3632L10.6483 52.4755L4.78369 54.9326L11.7059 55.0031L12.0623 55.8511L7.30845 60.8598L13.1288 58.4091L13.5953 59.5214L5.06269 63.0969L4.63989 62.1003L10.3958 56.0445L2.05812 55.9327L1.63532 54.9361L1.64924 54.9387Z" fill="currentColor"/>
    <path d="M0.723805 50.4947L0.0236641 44.5321L1.10322 44.4047L1.64672 49.0524L4.53947 48.715L4.0283 44.3247L5.10786 44.1972L5.61903 48.5875L8.66672 48.228L8.12322 43.5802L9.20278 43.4527L9.90292 49.4153L0.709889 50.4922L0.723805 50.4947Z" fill="currentColor"/>
    <path d="M1.07431 33.1596L10.2377 34.4633L10.0894 35.4785L2.41533 39.7487L9.33724 40.7319L9.15992 41.9861L-0.00350952 40.6824L0.142269 39.6811L7.8246 35.4052L0.888778 34.4195L1.06609 33.1653L1.07431 33.1596Z" fill="currentColor"/>
    <path d="M10.3753 31.4484C9.52664 31.7687 8.53997 31.6615 7.41024 31.1546L2.33151 28.8459L2.87884 27.6516L8.03853 29.9894C8.82162 30.3471 9.49711 30.4266 10.065 30.2278C10.6329 30.029 11.0824 29.5716 11.4161 28.8417C11.7416 28.1174 11.7939 27.4729 11.5647 26.9139C11.3356 26.3549 10.8282 25.9035 10.0591 25.5483L4.89938 23.2105L5.44923 22.0023L10.528 24.3111C11.6577 24.8179 12.3827 25.4957 12.703 26.3443C13.0233 27.193 12.9325 28.1683 12.42 29.2898C11.9074 30.4113 11.2379 31.1306 10.3835 31.4427L10.3753 31.4484Z" fill="currentColor"/>
    <path d="M16.9762 19.5883C16.5734 19.7093 16.1712 19.7081 15.7645 19.6128C15.3578 19.5174 14.9991 19.3158 14.7024 19.0104C14.4227 18.7297 14.2253 18.392 14.1126 17.9835C13.9999 17.5749 14.001 17.1727 14.1046 16.7603C14.2082 16.3479 14.4098 15.9892 14.726 15.6729C15.0174 15.3737 15.3633 15.1705 15.7719 15.0578C16.1747 14.9369 16.5769 14.938 16.9836 15.0334C17.3903 15.1288 17.749 15.3304 18.0539 15.6301C18.3589 15.9298 18.5538 16.2814 18.6608 16.6817C18.7678 17.082 18.7585 17.4899 18.6492 17.8941C18.5399 18.2983 18.3383 18.6569 18.0329 18.9537C17.7275 19.2504 17.3873 19.4617 16.9845 19.5827L16.9762 19.5883Z" fill="currentColor"/>
    <path d="M29.2164 2.59288L32.9626 11.0558L31.8534 11.5444L29.2863 5.73174L29.3518 12.6571L28.507 13.0356L23.4085 8.38045L25.975 14.1571L24.8658 14.6457L21.1196 6.18277L22.1048 5.74352L28.2775 11.3698L28.2312 3.03212L29.2164 2.59288Z" fill="currentColor"/>
    <path d="M33.6255 1.58205L39.5748 0.757319L39.7244 1.83371L35.0868 2.47967L35.4824 5.3686L39.86 4.76889L40.0096 5.84528L35.632 6.44499L36.0497 9.48886L40.6873 8.84291L40.8369 9.9193L34.8877 10.744L33.6198 1.57383L33.6255 1.58205Z" fill="currentColor"/>
    <path d="M50.9738 1.58282L49.8535 10.7652L48.8333 10.6447L44.4176 3.05917L43.5679 9.99812L42.3169 9.84293L43.4372 0.660583L44.4434 0.77853L48.8705 8.38049L49.7228 1.42764L50.9738 1.58282Z" fill="currentColor"/>
    <path d="M52.8507 10.842C52.5222 9.99905 52.5934 9.01303 53.0806 7.87256L55.2831 2.7458L56.4906 3.2596L54.2591 8.46732C53.921 9.26116 53.8497 9.93095 54.0567 10.4931C54.2637 11.0553 54.7376 11.4935 55.4757 11.8215C56.2082 12.1413 56.8496 12.1714 57.4029 11.9341C57.9505 11.6885 58.4019 11.1811 58.7375 10.4012L60.969 5.19347L62.1822 5.7155L59.9798 10.8423C59.4925 11.9827 58.8262 12.7242 57.9889 13.0609C57.1516 13.3976 56.1656 13.3265 55.039 12.8418C53.9125 12.357 53.1767 11.6989 52.8482 10.8559L52.8507 10.842Z" fill="currentColor"/>
    <path d="M64.8675 17.2127C64.7466 16.8098 64.7256 16.4108 64.821 16.0041C64.9164 15.5974 65.1041 15.2362 65.3981 14.923C65.6731 14.6352 66.0051 14.4295 66.4136 14.3168C66.8082 14.2016 67.213 14.1888 67.6336 14.2867C68.0485 14.3764 68.4129 14.5862 68.7317 14.8884C69.031 15.1799 69.2423 15.5201 69.3715 15.9172C69.5006 16.3144 69.5134 16.7191 69.418 17.1258C69.3309 17.5268 69.1349 17.8937 68.8409 18.2069C68.547 18.52 68.2011 18.7232 67.8008 18.8302C67.4004 18.9372 66.9957 18.95 66.5915 18.8407C66.1873 18.7314 65.8261 18.5437 65.5212 18.244C65.2163 17.9443 64.9967 17.6098 64.8758 17.207L64.8675 17.2127Z" fill="currentColor"/>
    <path d="M82.0868 29.091L73.7017 33.0023L73.1884 31.9102L78.9517 29.2191L72.029 29.4288L71.634 28.5953L76.1848 23.3989L70.4657 26.0836L69.9524 24.9915L78.3375 21.0802L78.7932 22.0541L73.291 28.3355L81.6311 28.1172L82.0868 29.091Z" fill="currentColor"/>
    <path d="M83.1887 33.4736L84.1323 39.4013L83.0591 39.573L82.3246 34.9481L79.4534 35.4044L80.1416 39.7694L79.0684 39.9411L78.3801 35.5761L75.354 36.0546L76.0885 40.6795L75.0153 40.8512L74.0717 34.9235L83.2108 33.4704L83.1887 33.4736Z" fill="currentColor"/>
    <path d="M83.5459 50.8293L74.3364 49.8981L74.4429 48.8754L81.9342 44.306L74.9757 43.6037L75.103 42.3476L84.3125 43.2788L84.2085 44.2876L76.7008 48.8684L83.6732 49.5732L83.5459 50.8293Z" fill="currentColor"/>
    <path d="M74.3152 52.9054C75.1468 52.5605 76.1435 52.612 77.2865 53.0854L82.4531 55.1873L81.9589 56.4055L76.7114 54.2746C75.915 53.9504 75.2345 53.8987 74.678 54.114C74.1215 54.3292 73.6833 54.803 73.3806 55.5602C73.0805 56.3034 73.0585 56.939 73.318 57.4892C73.5775 58.0393 74.0956 58.4711 74.8781 58.7928L80.1256 60.9238L79.6289 62.1559L74.4623 60.054C73.3111 59.5864 72.5589 58.9396 72.214 58.1081C71.8551 57.274 71.9123 56.2854 72.3774 55.1481C72.8426 54.0108 73.4893 53.2586 74.3209 52.9137L74.3152 52.9054Z" fill="currentColor"/>
    <path d="M68.1824 65.0373C68.5795 64.9081 68.9868 64.8814 69.396 64.9629C69.8053 65.0443 70.1665 65.2321 70.4878 65.5204C70.7839 65.7897 70.9896 66.1217 71.1187 66.5188C71.2479 66.9159 71.2606 67.3207 71.171 67.7356C71.0813 68.1506 70.891 68.5257 70.5945 68.8527C70.3087 69.1602 69.9743 69.3798 69.5771 69.5089C69.18 69.6381 68.7727 69.6648 68.3691 69.5915C67.9656 69.5183 67.5987 69.3223 67.2774 69.034C66.9699 68.7483 66.7446 68.4056 66.6294 68.0109C66.5142 67.6163 66.5014 67.2116 66.5911 66.7966C66.6864 66.3899 66.8742 66.0288 67.1542 65.7131C67.4343 65.3974 67.7827 65.1803 68.1799 65.0512L68.1824 65.0373Z" fill="currentColor"/>
    <path d="M56.6412 82.4974L52.5649 74.1901L53.6538 73.6547L56.4549 79.3661L56.115 72.4485L56.9427 72.0453L62.2233 76.4892L59.4285 70.822L60.5174 70.2866L64.5937 78.5938L63.6231 79.0716L57.2329 73.6934L57.6119 82.0196L56.6412 82.4974Z" fill="currentColor"/>
    <path d="M52.3156 83.6815L46.4095 84.744L46.2156 83.6739L50.8221 82.8427L50.3076 79.9753L45.961 80.7603L45.7672 79.6902L50.1138 78.9052L49.5689 75.8886L44.9624 76.7198L44.7685 75.6498L50.6746 74.5873L52.3131 83.6954L52.3156 83.6815Z" fill="currentColor"/>
    <path d="M34.9606 84.3909L35.7084 75.1625L36.7279 75.2469L41.451 82.6439L42.0198 75.6684L43.2728 75.7736L42.525 85.002L41.5194 84.9201L36.7849 77.5067L36.2218 84.4905L34.9606 84.3909Z" fill="currentColor"/>
    <path d="M32.6966 75.2052C33.0637 76.0336 33.0204 77.0247 32.5806 78.181L30.5932 83.3899L29.3699 82.9235L31.3946 77.6279C31.7048 76.8291 31.7426 76.146 31.5134 75.587C31.2843 75.028 30.7997 74.6094 30.0401 74.3206C29.2943 74.0344 28.6561 74.0264 28.1117 74.2941C27.5672 74.5618 27.1411 75.0881 26.8391 75.8813L24.8144 81.1769L23.5771 80.708L25.5645 75.4991C26.0044 74.3428 26.6397 73.5742 27.4681 73.2071C28.2908 72.8318 29.2762 72.8669 30.4243 73.3124C31.5723 73.7579 32.3353 74.385 32.7023 75.2134L32.6966 75.2052Z" fill="currentColor"/>
    <path d="M20.4473 69.3242C20.5846 69.7156 20.6195 70.1172 20.5438 70.5347C20.468 70.9521 20.2942 71.3158 20.0141 71.6315C19.7505 71.9358 19.4242 72.1497 19.0271 72.2788C18.6299 72.408 18.2283 72.4429 17.8109 72.3671C17.3935 72.2914 17.0183 72.1011 16.6887 71.8185C16.3788 71.5466 16.1453 71.2096 16.0079 70.8182C15.8705 70.4267 15.8356 70.0251 15.9032 69.6134C15.9707 69.2016 16.1527 68.8322 16.441 68.5108C16.7211 68.1952 17.0638 67.9699 17.4527 67.8464C17.8499 67.7173 18.249 67.6963 18.6582 67.7777C19.0674 67.8592 19.4368 68.0412 19.7525 68.3213C20.0682 68.6014 20.3017 68.9384 20.439 69.3298L20.4473 69.3242Z" fill="currentColor"/>
  </svg>

  <svg
    xmlns="http://www.w3.org/2000/svg"
    width={inner}
    height={Math.round(inner * 28 / 43)}
    viewBox="0 0 43 28"
    fill="none"
    class="pointer-events-none"
    aria-hidden="true"
  >
    <path fill-rule="evenodd" clip-rule="evenodd" d="M42.2444 3.33128H0.0645752V0.331284H42.2444V3.33128Z" fill="currentColor"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M42.2444 15.3313H0.0645752V12.3313H42.2444V15.3313Z" fill="currentColor"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M42.2444 27.3313H0.0645752V24.3313H42.2444V27.3313Z" fill="currentColor"/>
  </svg>
</div>
